@font-face {
font-family: 'CThin';
font-style: normal;
font-weight: normal;
src: url('CThin.woff') format('woff');
}

@font-face {
font-family: 'CLight';
font-style: normal;
font-weight: normal;
src: url('CLight.woff') format('woff');
}

@font-face {
font-family: 'CRegular';
font-style: normal;
font-weight: normal;
src: url('C.woff') format('woff');
}

@font-face {
font-family: 'CBold';
font-style: normal;
font-weight: normal;
src: url('CBold.woff') format('woff');
}

@font-face {
font-family: 'CExtraBold';
font-style: normal;
font-weight: normal;
src: url('CExtraBold.woff') format('woff');
}

@font-face {
font-family: 'CHeavy';
font-style: normal;
font-weight: normal;
src: url('CHeavy.woff') format('woff');
}